<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".//style/Index.css">
    <script src="https://kit.fontawesome.com/8752be39ad.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
              <h1>PROJECTIFY</h1> 
              <div class="hamburger">
                <i class="fa-solid fa-bars" id="open"></i>
               <i class="fa-solid fa-xmark" id="close"></i>
               </div> 
        </div>     
        <nav  class="container" id="link">
            <ul>
                <li><a href="HOME">HOME</a></li>
                <li><a href="ABOUT US">ABOUT US</a></li>
                <li><a href="COURSES">COURSES</a></li>
                <li><a href="SERVICE">SERVICE</a></li>
                <li><a href="TEACHER">TEACHER</a></li>
                <li><a href="BLOG">BLOG</a></li>
                <li><a href="CONTACT">CONTACT</a></li>
            </ul>
            

        </nav>
    </header>
    <div class="background-pic">
        <div class="para-one">
            <h1>EDUCATION CAN CHANGE YOUR LIFE</h1>
            <p>IF YOUR READY TO CHANGE THE LIVES WITHIN THE CLASSROOM AND IN YOUR COMMUNITY, PROJECTIFY <br>
                IS COMMITED TO DELIVERING INNOVATIVE AND 100% ONLINE PROGRAMS THAT CAN HELP YOU DEFINE YOUR <br>
                PATH TO SUCCESS</p>
        </div>
        <div class="my-buttons">
         <button>LEARN MORE</button>
                <button>ABOUT US</button>
     </div>
    </div>

    <!--FIRST TWO SECTIONS OF THE FIRST PAGE  -->
    <section class="sect-one">
         <div class="products">
            <p>Popular Product</p>
            </div>

            <!-- MEDICINE,ENGINEERING & PHYSICS COLUMNS -->
        <div class="three-columns">
            <div class="blue1">
                <img src="./style/Ellipse_11-removebg-preview.png" alt="">
            </div>
            <div class="blue2">
                <img src="./style/Ellipse_10-removebg-preview.png" alt="">
            </div>
            <!-- MEDICINE -->
            <div class="medd medi">
            <div class="img">
                <img src="./style/image_2-removebg-preview.png" alt="">
            </div>
            <div class="course">
                <p>COURSE: <span class="span-med">MEDICINE</span></p>
                <div class="title">
                    <p>TITLE:</p> <span class="span-title">ANEMIA IN <br> PREGNANCY</span>
                </div>
                <div class="describe-para">
                    <p>DESCRIPTION:</p>
                    <div class="describe-paragraph">
                        <p> During pregnancy, your body produces more blood to support the growth of your baby. If you're not getting enough iron or certain other nutrients, your body might not be able to do so. </p> 
                    </div>
                   </div>
            </div>
            <div class="icons ikon1">
                <div class="star-icon">
                    <img src="./style/Star 3.svg" alt="">
                    <img src="./style/Star 3.svg" alt="">
                    <img src="./style/Star 3.svg" alt="">
                    <img src="./style/Star 3.svg" alt=""> 
                    <img src="./style/Star 3.svg" alt="">
                </div>
                <div class="naira-icon">
                    <img src="./style/₦.svg" alt="">
                    <span class="cost">
                        10,000
                    </span>
                </div>
            </div> 
            <div class="med-footer">
            <p>AURTHOR : N.N GEORGE</p>
            </div>
         </div> 

            <!--  ENGINEERING -->
            <div class="medd medi">
                <div class="img">
                    <img src="./style/image_3-removebg-preview.png" alt="">
                </div>
                <div class="course">
                    <p>COURSE: <span class="span-med">ENGINEERING</span></p>
                    <div class="title">
                        <p>TITLE:</p> <span class="span-title">MANAGING OF <br> SOLID WASTE</span>
                    </div>
                    <div class="describe-para">
                        <p>DESCRIPTION:</p>
                        <div class="describe-paragraph">
                            <p> The term solid waste management mainly refers to the complete process of collecting, treating and disposing of solid wastes.
                            </p> <br>
                        </div> 
                       </div> </BR>
                </div>
                <div class="icons ikon1">
    
                    <div class="star-icon">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt=""> 
                        <img src="./style/Star 3.svg" alt="">
                    </div>
                    <div class="naira-icon">
                        <img src="./style/₦.svg" alt="">
                        <span class="cost">
                            10,000
                        </span>
                    </div>
                </div> 
                <div class="med-footer">
                <p>AURTHOR : N.N GEORGE</p>
                </div>
             </div> 
    

            <!-- PHYSICS -->
            <div class=".three-columns .medd"> 

            </div>
            <div class="medd medi">
                <div class="img">
                    <img src="./style/image_4-removebg-preview.png" alt="">
                </div>
                <div class="course">
                    <p>COURSE: <span class="span-med">PHYSICS</span></p>
                    <div class="title">
                        <p>TITLE:</p> <span class="span-title">STUDY ON THE EFFECT <br> OF SOLAR POWER</span>
                    </div>
                    <div class="describe-para">
                        <p>DESCRIPTION:</p>
                        <div class="describe-paragraph">
                            <p> Solar Power a clean renewable resource with zero emission has got tremendous potential of energy.</p> <br><br><br>
                        </div>
                       </div>
                </div>
                <div class="icons ikon1">
    
                    <div class="star-icon">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt=""> 
                        <img src="./style/Star 3.svg" alt="">
                    </div>
                    <div class="naira-icon">
                        <img src="./style/₦.svg" alt="">
                        <span class="cost">
                            10,000
                        </span>
                    </div>
                </div> 
                <div class="med-footer">
                <p>AURTHOR : N.N GEORGE</p>
                </div>
             </div> 
        </div> 


        

        <!-- SECOND PART -->

       
        <div class="three-columns">
            <!-- COMPUTER -->
            <div class="medd medi">
            <div class="img">
                <img src="./style/image_5-removebg-preview.png" alt="">
            </div>
            <div class="course">
                <p>COURSE: <span class="span-med">COMPUTER  SCIENCE</span></p>
                <div class="title">
                    <p>TITLE:</p> <span class="span-title">COMPUTER <br> NETWORKING</span>
                </div>
                <div class="describe-para">
                    <p>DESCRIPTION:</p>
                    <div class="describe-paragraph">
                        <p> A computer network is a system in which multiple computers are connected to each other to share information and resources. </p><br>
                    </div>
                   </div>
            </div>
            <div class="icons ikon1">
                <div class="star-icon">
                    <img src="./style/Star 3.svg" alt="">
                    <img src="./style/Star 3.svg" alt="">
                    <img src="./style/Star 3.svg" alt="">
                    <img src="./style/Star 3.svg" alt=""> 
                    <img src="./style/Star 3.svg" alt="">
                </div>
                <div class="naira-icon">
                    <img src="./style/₦.svg" alt="">
                    <span class="cost">
                        10,000
                    </span>
                </div>
            </div> 
            <div class="med-footer">
            <p>AURTHOR : N.N GEORGE</p>
            </div>
         </div> 

            <!--  CRIMNOLOGY-->
            <div class="medd medi">
                <div class="img">
                    <img src="./style/image_6-removebg-preview.png" alt="">
                </div>
                <div class="course">
                    <p>COURSE: <span class="span-med">CRIMINOLOGY</span></p> <br><br>
                    <div class="title">
                        <p>TITLE:</p> <span class="span-title">AFRICAN STANDBY <br> FORCE</span> <br>
                    </div> 
                    <div class="describe-para">
                        <p>DESCRIPTION:</p>
                        <div class="describe-paragraph">
                            <p>Criminology is the study of crime and criminal behavior, informed by principles of sociology and other non-legal fields.</p> 
                        </div>
                       </div>
                </div> <br>
                <div class="icons ikon1">
    
                    <div class="star-icon">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt=""> 
                        <img src="./style/Star 3.svg" alt="">
                    </div>
                    <div class="naira-icon">
                        <img src="./style/₦.svg" alt="">
                        <span class="cost">
                            10,000
                        </span>
                    </div>
                </div> 
                <div class="med-footer">
                <p>AURTHOR : N.N GEORGE</p>
                </div>
             </div> 
    

            <!-- ANATOMY-->
            <div class=".three-columns .medd"> 

            </div>
            <div class="medd medi">
                <div class="img">
                    <img src="./style/image_7-removebg-preview.png" alt="">
                </div>
                <div class="course">
                    <p>COURSE: <span class="span-med">ANATOMY</span></p>
                    <div class="title">
                        <p>TITLE:</p> <span class="span-title">HEALTH IMPLICATION <br> OF STERIOD</span>
                    </div>
                    <div class="describe-para">
                        <p>DESCRIPTION:</p>
                        <div class="describe-paragraph">
                            <p> In addition, both men and women who take anabolic steroids can develop any of the following medical conditions: heart attack or stroke.</p><br><br>
                        </div>
                       </div>
                </div> <br>
                <div class="icons ikon1">
    
                    <div class="star-icon">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt=""> 
                        <img src="./style/Star 3.svg" alt="">
                    </div>
                    <div class="naira-icon">
                        <img src="./style/₦.svg" alt="">
                        <span class="cost">
                            10,000
                        </span>
                    </div>
                </div> 
                <div class="med-footer">
                <p>AURTHOR : N.N GEORGE</p>
                </div>
             </div> 
        </div> 
      
        <!-- PART 3 -->
        <div class="sub-nav"> 
            <div class="project-nav"> 
                <p>100KT <br> PAPERS</p>
                <p>20KT <br> Downloads</p>
                <p>60KT <br> AUTHORS</p>
                <p>100KT <br> AUTHORS</p>
                <h2>PROJECTIFY</h2>
            </div>

        </div>
        <div class="the-bluebackground"> 
            <div class="blue-backgroundtext">
                   <h2> DEALS OF THE DAY</h2>
            </div>
            <div class="row">
                <img src="./style/Vector (1).svg" alt="">
            </div>

    
            <div class="three-columns arrow">
                <!-- ANIMAL SCIENCE -->
                <div class="medd medi">
                <div class="img">
                    <img src="./style/image_10-removebg-preview.png" alt="">
                </div>
                <div class="course">
                    <p>COURSE: <span class="span-med">ANIMAL SCIENCE</span></p> <br><br>
                    <div class="title">
                        <p>TITLE:</p> <span class="span-title">ATHROPOD <br> PREDATORS</span>
                    </div>
                    <div class="describe-para">
                        <p>DESCRIPTION:</p>
                        <div class="describe-paragraph">
                            <p>  Predatory arthropods include taxa like spiders (Araneae), ground beetles (Coleoptera), true bugs and wasps.  </p> 
                        </div>
                       </div><br>
                </div>
                <div class="icons ikon1">
                    <div class="star-icon">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt="">
                        <img src="./style/Star 3.svg" alt=""> 
                        <img src="./style/Star 3.svg" alt="">
                    </div>
                    <div class="naira-icon">
                        <img src="./style/₦.svg" alt="">
                        <span class="cost">
                            10,000
                        </span>
                    </div>
                </div> 
                <div class="med-footer">
                <p>AURTHOR : N.N GEORGE</p>
                </div>
             </div> 
    
                <!--  BOTANY -->
                <div class="medd medi">
                    <div class="img">
                        <img src="./style/image 12.png" alt="">
                    </div>
                    <div class="course">
                        <p>COURSE: <span class="span-med">BOTANY</span></p><br><br>
                        <div class="title">
                            <p>TITLE:</p> <span class="span-title">SCREENING <br> MEDICAL PLANT</span>
                        </div>
                        <div class="describe-para">
                            <p>DESCRIPTION:</p>
                            <div class="describe-paragraph">
                                <p>The plant extracts were screened for the presence of alkaloids, saponins, tannins, phlobatannins and anthraquinones. </p> 
                            </div>
                           </div><br>
                    </div>
                    <div class="icons ikon1">
        
                        <div class="star-icon">
                            <img src="./style/Star 3.svg" alt="">
                            <img src="./style/Star 3.svg" alt="">
                            <img src="./style/Star 3.svg" alt="">
                            <img src="./style/Star 3.svg" alt=""> 
                            <img src="./style/Star 3.svg" alt="">
                        </div>
                        <div class="naira-icon">
                            <img src="./style/₦.svg" alt="">
                            <span class="cost">
                                10,000
                            </span>
                        </div>
                    </div> 
                    <div class="med-footer">
                    <p>AURTHOR : N.N GEORGE</p>
                    </div>
                 </div> 
        
    
                <!-- COMMERCE -->
                <div class=".three-columns .medd "> 
    
                </div>
                <div class="medd medi">
                    <div class="img">
                        <img src="./style/image 13.jpg" alt="">
                    </div>
                    <div class="course">
                        <p>COURSE: <span class="span-med">COMMERCE</span></p><br><br>
                        <div class="title">
                            <p>TITLE:</p> <span class="span-title">HUMAN RESOURCE</span>
                        </div><br>
                        <div class="describe-para">
                            <p>DESCRIPTION:</p>
                            <div class="describe-paragraph">
                                <p> Evidence shows that exogenous BRs can enhance vegetative growth, reproduction, and tolerance to a wide range of abiotic and biotic stresses in.</p> 
                            </div>
                           </div>
                    </div>
                    <div class="icons ikon1">
        
                        <div class="star-icon">
                            <img src="./style/Star 3.svg" alt="">
                            <img src="./style/Star 3.svg" alt="">
                            <img src="./style/Star 3.svg" alt="">
                            <img src="./style/Star 3.svg" alt=""> 
                            <img src="./style/Star 3.svg" alt="">
                        </div>
                        <div class="naira-icon">
                            <img src="./style/₦.svg" alt="">
                            <span class="cost">
                                10,000
                            </span>
                        </div>
                    </div> 
                    <div class="med-footer">
                    <p>AURTHOR : N.N GEORGE</p>
                    </div>
                 </div> 
            </div> 

            <div class="row">
                <img src="./style/Vector (2).svg" alt="">
            </div>
        </div>

        <!-- PART 4 -->
        <div class="blue-image-paragraph">
            <div class="lastblue-div">
                <img src="./style/Ellipse_7-removebg-preview.png" alt="">
            </div>
            <div class="projectify-image">
                <img src="./style/image 14.png" alt="">
            </div>
            <div class="projectify-paragraph">
                <p> PROJECTIFY is clean & active education HTML template for educational purpose website or portal. PROJECTIFY is suitable for educational web, Training Center, Courses Hub, College, Academy, University, School, Kindergarten. <span> PROJECTIFY </span> offers you the best Education & experience ever, with a super friendly and 100% responsive layouts.</p>
            </div>
        </div>

        <!-- PART 5-->
        <div class="why-projectify">
            <p>WHY PROJECTIFY</p>
            <h2>If it is not creative and helpful, it is not our work.</h2>
        </div>

        <!-- PART 6 -->
        <div class="flex-strategicapproach">
            <div class="strategic">
                <div class="one">
                    <p>1</p>
                </div><br>
                <div class="setting-icon">
                    <img src="./style/image_15-removebg-preview.png" alt="">
                 </div><br>
                 <div class="strategic-approach">
                    <p>Strategic approach</p>
                 </div><br>
                 <div class="strategic-projectify">
                 <p>PROJECTIFY strategy is top-notch. We placed a high value on positioning our ideas and solutions into our project to meet the expectations of our  clients.</p> 
                 </div>
            </div>
        <div class="value">
            <div class="strategic">
                <div class="val">
                    <div class="elipse8">
                        <img src="./style/Ellipse_8-removebg-preview.png" alt="">
                    </div>
                    <div class="one">
                        <p>2</p>
                     </div><br>
                     <div class="setting-icon">
                         <img src="./style/image_16-removebg-preview.png" alt="">
                      </div><br>
                      <div class="strategic-approach">
                         <p>Strategic approach</p>
                      </div><br>
                </div>
                <div class="strategic-projectify">
                    <p>At PROJECTIFY our business model ensure value is transferred and allow our  clients to be part of our actions. </p> 
                    </div>
            </div>
        </div>
        <div class="third">
             <div class="one">
                 <p>3</p>
              </div><br>
              <div class="elipse16">
                  <img src="./style/image_17-removebg-preview.png" alt="">
               </div><br>
               <div class="strategic-approach">
                  <p>Professionalism </p>
               </div><br>
               <div class="strategic-projectify">
               <p>We are a team of professionals working together for a common goal. We are best at what we do because we have a team of selfless, motivated, and highly skilled teachers / lecturers who put us on the front line of our business line.</p> 
               </div>

         </div>
         
         </div>
         <div class="footer"> 
            <div class="lastsection">
                <div class="services">
                    <p>PROJECTIFY is a privately owned WEST   Africa Technology, PROJECT services company disrupting and leading the innovative and sustainable, educational solutions space in Africa. </p>
                </div>
            <div class="OUR-SERVICES">
                <h3>OUR-SERVICES</h3>
                <P>PROJECT MANAGEMENT</P>
                <p>PROJECT-DESIGN</p>
                <p>PROJECT TEMPLATE</p>
            </div>
            </div>
            <div class="QUICKLINKS">
                <ul >
                    <li><a href="BLOG"> <span class="dot"></span> &nbsp; BLOG</a></li> <br>
                    <li><a href="WORKS"> <span class="dot"></span> &nbsp;  WORKS</a></li> <br>
                    <li><a href="ABOUT US"> <span class="dot"></span> &nbsp;  ABOUT US</a></li> <br>
                    <li><a href="FAQ"> <span class="dot"></span> &nbsp;  FAQ</a></li> <br>
                    <li><a href="CONTACT US"> <span class="dot"></span> &nbsp;  CONTACT US</a></li>
                </ul>
         </div>
         </div>
        
    </section>
    </section>
    
          <!--PART 7  -->
          
    <!-- </section> -->
   
    <script src="../scripts/IT.js"></script>                       
</body>
</html>


